@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@700&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#container-div{
    height: 100vh;
    width: 98.8vw;
    background-image: url("images/home-bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.main-div{
    width: 98.8vw;
    height: 25vh;
    padding-top: 10vh;
}

.main-div-text{
    text-align: center;
    color: white;
    font-family: 'Hanuman', serif;
}

#products-div-text{
    display: flex;
    width: 98.8vw;
    height: 40px;
    justify-content: center;
    color: white;
    margin-top: 50px;
}

.hr{
    width: 40vw;
    padding: 0 15px;
    margin: 10px 0;
}
hr{
    border: 2px solid white;
    border-radius: 5px;
}

.products-text{
    margin: 0;
    font-size: 30px;
}

.products{
    padding-top: 30px;
    width: 98.8vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
}

.product{
    border: 0;
    border-radius: 10px;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    background-color: #FFFDF9;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin: 20px 10px;
}

.description-btn{
    background-color: #cb410b;
    border: 0;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}


.product-name
{
    font-family: 'Hanuman', serif;
}

#load_more{
    text-align: center;
    cursor: pointer;
    color: blue;
    font-size: large;
    padding: 20px;
}

.add-to-cart
{
    background-color: white;
    border: 2px solid #cb410b;
    padding: 9px 14px;
    color: #cb410b;
    cursor: pointer;
    margin-left: 5px;
}

.description_outer_div{
    display: none;
    width: 98.8vw;
    height: 100vh;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}

.description_div{
    width: 550px;
    height: 500px;
    font-family: 'Hanuman', serif;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.description_inner_div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.descr_close
{
    font-size: 25px;
    cursor: pointer;
}

.descr_close:hover{
    color:cornflowerblue;
}