<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="header-cart.css" />
    <link rel="stylesheet" type="text/css" href="cart.css" />
</head>

<body>
    <%- include("header",{login:true}) %>
    <script>
        document.getElementById("become-seller").style.display = "none";
    </script>
    <div id="container">
        <div id="products-cart"></div>
        <div id="checkout-div">
            <div class="order-value-div">
                <h2 class="order-value-text">Total Amount: ₹<span id="order-value">0</span>/-</h2>
                <h2 class="order-value-text">Total Items: <span id="order-item">0</span></h2>
            </div>
            <div class="checkout-btns-div">
                <button class="checkout-btns" id="home-btn">Return to home</button>
                <button class="checkout-btns" id="placeorder-btn">Buy Now</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="cart.js"></script>
</body>

</html>