<html>
<head>
    <link rel="stylesheet" type="text/css" href="error.css">
</head>
<body>
    <h1 class="text">OOPS!!! Something Went Wrong</h1>
    <h2 class="text">OR</h2>
    <h3 class="text">You landed on the Wrong page</h3>
</body>
</html>
