body{
    background-color: black;
    color: white;
  }
  
  #container
  {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
  
  #stopwatch{
    font-size: 70px;
    color: #ff6200;
  }
  
  #buttons{
    margin-top: 30px;
    display: flex;
    width: 300px;
    justify-content: space-between;
  }
  
  .gray-btn,.red-btn
  {
    border-radius: 100%;
    padding: 24px 18px;
    border: 3px solid black;
    background-color: #2e2e2e;
    color: white;
    font-weight: bold;
    margin: 2.5px;
    cursor: pointer;
  }
  #outer-start-btn,#outer-lap-btn
  {
    background-color: #2e2e2e;
    border-radius: 100%;
  }
  #outer-start-btn
  {
    width: 100%;
  }
  #outer-lap-btn
  {
    display: none;
  }
  
  #lap-btn
  {
    padding: 24px 22px;
  }
  
  .red-btn
  {
    color: red;
    background-color: #3b0000;
    padding: 25px 16px;
  }
  
  #outer-reset-btn,#outer-stop-btn
  {
    background-color: #3b0000;
    border-radius: 100%;
    display: block;
  }
  
  #outer-stop-btn
  {
      display: none;
  }
  
  
  #stop-btn
  {
    padding: 25px 19px;
  }
  #lap-list
  {
    width: 300px;
    list-style: none;
    padding: 0;
    border-top: 2px solid #2e2e2e;
    margin-top: 40px;
    height: 300px;
    overflow: auto;
  
  }
  
  .list-item
  {
    border-bottom: 2px solid #2e2e2e;
  }
  
  .item-div
  {
    display: flex;
    justify-content: space-between;
  }
  ::-webkit-scrollbar
  {
    width: 5px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    width: 4px;
    
  }
  
  ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: gray;
  }
  