<html>
    <head>

    </head>
    <body>
        <div>
            <label for="image">Select image for product: </label><input id="image" type="file" required>
            <input type="name" id="name" placeholder="Enter Name of product" required>
            <textarea id="description"></textarea>
            <button id="submit-product">Submit</button>
        </div>
    </body>
    <script type="text/javascript" src="admin.js"></script>
</html>